@font-face {
  font-family: Work Sans;
  src: url('WorkSans-VariableFont_wght.ttf');
}

.workSans{
  font-family: Work Sans;
}

/*.coolBeans is for search bar Go*/
.coolBeans {
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  transition: 0.1s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.coolBeans::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.1s transform ease-out;
  will-change: transform;
  z-index: -1;
}

.coolBeans:hover::after {
  transform: translate(0, 0);
}

.coolBeans:hover {
  will-change: transform;
}

.fadeinLeft {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: translateX(-40px);
}

.fadeinLeft.visible {
  opacity: 1;
  transform: translateX(0);
}

.fadeinTop {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: translatey(-40px);
}

.fadeinTop.visible {
  opacity: 1;
  transform: translateX(0);
}

.fadeinRight {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: translatex(+40px);
}

.fadeinRight.visible {
  opacity: 1;
  transform: translateX(0);
}
